/**,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/

nav {
    display: flex;
    justify-content: left;
    font-family: Lato;
    margin: auto;
    position: relative;
    top: 20px;
    left: 10px;
}

#left-column a {
    position: relative;
    text-decoration: none;
    font-family: Lato;
    color: white;
    font-size: 30px;
    letter-spacing: 0.5px;
    padding: 10px;
}

a:after{
    content: "";
    position: absolute;
    background-color: #3d78bb;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}
a:hover {
    color: #ffffff;
}
a:hover:after {
    width: 100%;
    color: #ffffff;
}

a:visited {
    text-decoration: none; color: white;
}

#title {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 72px;
    letter-spacing: 10px;
}


#work span {
    color: white;
    font-size: 18px;
    font-family: Roboto;
}